<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}
  {%- include head-custom.html -%}

  <body>
    {% if page.custom_js %}
    <script src="{{ '/assets/js/' | append: page.custom_js | append: '.js' | relative_url }}" defer></script>
    {% endif %}
    {%- include header.html -%}
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>
    {%- include footer.html -%}  
    {%- include body-end-custom.html -%}
    <script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll@15/dist/smooth-scroll.polyfills.min.js"></script>
    <script>
      var scroll = new SmoothScroll('a[href*="#"]');
    </script>
  </body>

</html>
